:root {
    --salmon: #FF6060;
    --background: #F6F6F6;
}
.mainContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--salmon);
    font-weight: 500;
    margin-bottom: 30px;
}
.infoLogement {
    width: 65%;
}
.titreLogement {
    font-size: 36px;
}
.Location {
    font-size: 18px;
}
.tags {
    display: flex;
}
.tag {
    height: 25px;
    font-size: 14px;
    background-color: var(--salmon);
    color: white;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    border-radius: 10px;
}
.owner {
    font-size: 18px;
    font-weight: 500;
    width: 25%;
    text-align: right;
    margin-top: 20px;
}
.ownerInfo {
    display: flex;
    justify-content: flex-end;
}
.ownerInfo img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-left: 20px;
}
.ownerInfo p {
    word-spacing: 100vw;
    font-size: 18px;
    line-height: 30px;
    margin-top: 1px;
}
.rating {
    display: flex;
    position: absolute;
    right: 86px;
}
.salmonStar {
    font-size: 25px;
    color: #FF6060;
    display: inline-block;
}
.greyStar {
    font-size: 25px;
    color: #E3E3E3;
    display: inline;
}
details {
    font-size: 18px;
    margin-top: 10px;
    width: 48%;
}
.equipment {
    background-color: #F6F6F6;
    color: #FF6060;
    font-size: 24px;
    font-weight: 400;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 30px;
    width: 96%;
    margin-top: -10px;
    padding-bottom: 10px;
    list-style: none;
}
summary {
    list-style: none;
    position: relative;
    width: 96%;
    background-color: var(--salmon);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    border-radius: 5px;
}
summary::-webkit-details-marker {
    display: none;
}
details summary::after { 
    position: absolute;
    right: 2%;
    content:"\276E"; 
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
details[open] summary::after { 
    position: absolute;
    right: 2%;
    content:"\276E"; 
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.equipment {
    line-height: 0px;
    margin-top: -16px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 1000px) {
    .mainContainer {
        width: 100%;
        display: block;
    }
    .infoLogement {
        width: 100%;
    }
    .owner {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .rating {
        position: absolute;
        left: 0;
        top: 10px;
    }
    .salmonStar, .greyStar {
        font-size: 18px;
        display: inline-block;
    }
    details {
        width: 100%;
    }
    .titreLogement {
        font-size: 18px;
    }
    .Location {
        font-size: 14px;
    }
    details[open] summary::after, details summary::after {
        font-size: 20px;
    }
    summary, details p, .equipment {
        font-size: 14px;
    }
    .tag {
        font-size: 10px;
    }
}
@media only screen and (max-width: 600px) {
    details[open] summary::after, details summary::after {
        font-size: 16px;
    }
    summary, details p, .equipment {
        font-size: 12px;
    }
    .descriptionCollapsible {
        padding-top: 40px;
    }
    .equipment {
        margin-bottom: -30px;
        padding-bottom: 20px;
    }
    .equipmentP {
        margin-right: 0;
        padding-bottom: 0px;
    }
    details p {
        margin-top: -30px;
        padding-bottom: 10px;
    }
    .tag {
        height: 15px;
        padding-bottom: 5px;
    }
}